<div class="container my-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>新規登録</h3>
        <%= form_with model: @user, url:registration_path(resource_name), local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <table class="customer_info customer_form">
              <thead>
                <th></th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td><%= f.label :inmage,"プロフィール画像" %></td>
                  <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  </td>
                </tr>
                <tr>
                  <td>名前</td>
                  <td><%= f.label :last_name, "(姓)",class: "user_name" %> <%= f.text_field :last_name, :placeholder =>"山田" %></td>
                  <td><%= f.label :first_name, "(名)", class: "user_name" %> <%= f.text_field :first_name, :placeholder =>"太朗" %></td>
                </tr>
                <tr>
                  <td>フリガナ</td>
                  <td><%= f.label :last_name_kana, "(セイ)",class: "user_name" %> <%= f.text_field:last_name_kana, :placeholder =>"ヤマダ" %></td>
                  <td><%= f.label :first_name_kana, "(メイ)",class: "user_name" %> <%= f.text_field:first_name_kana, :placeholder =>"タロウ" %></td>
                </tr>
                <tr>
                  <td><%= f.label :email, "メールアドレス" %></td>
                  <td colspan="2"><%= f.email_field:email, autocomplete: "email",:placeholder =>"9@9" %></td>
                </tr>
                <tr>
                  <td><%= f.label :phone_number, "電話番号(ハイフン無し10 or 11桁)" %></td>
                  <td colspan="2"><%= f.text_field :phone_number, :placeholder =>"22211110000" %></td>
                </tr>
                <tr>
                  <td><%= f.label :birthday, "生年月日" %></td>
                  <td><%= f.date_select :birthday, {start_year:1950, end_year: 2023,include_blank: true, user_two_digit_numbers: true},
                  {class: "input-tab birthday-select"} %></td>
                </tr>
                <tr>
                  <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
                  <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></td>
                </tr>
                <tr>
                  <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
                  <td colspan= "2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success" %></td>
                </tr>
              </tbody>
            </table>
        <% end %>
      <h6>既に登録済みの方</h6>
      <p><%= link_to "こちら", new_user_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>
</div>